@model ENGLISH.Models.Test
@{
    ViewData["Title"] = "Exam";
}

<h2>Exam</h2>

<p>Here an exam for you!</p>
<div>
    <hr />
    <dl class="row">

        <dd class="col-sm-12">
            <b>@Html.DisplayFor(model => model.Question)</b>
        </dd>
    </dl>

    <form>
        <input type="hidden" asp-for="Id"/>
        <input type="radio" name="Answer" value=1>
        <b>A. </b>
        @Html.DisplayFor(model => model.Answer1)
        <br>
        <input type="radio" name="Answer" value=2>
        <b>B. </b>
        @Html.DisplayFor(model => model.Answer2)
        <br>
        <input type="radio" name="Answer" value=3>
        <b>C. </b>
        @Html.DisplayFor(model => model.Answer3)
        <br>
        <input type="radio" name="Answer" value=4>
        <b>D. </b>
        @Html.DisplayFor(model => model.Answer4)
        <br>
        <br>

        <div class="form-group">
            <input type="submit" value="Submit" asp-controller="Exam" asp-action="Check" class="btn btn-primary" />
        </div>
    </form>
</div>

